<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <%- include('partials/nav') %>
    <section
      class="bg-white border-neutral-200 px-4 py-16 border-b text-center"
    >
      <h2 class="text-4xl font-extrabold mb-4">
        Welcome to <span class="text-rose-600">Circle Access</span>
      </h2>
      <p class="text-gray-600 text-lg mx-auto max-w-2xl">
        Build circles. Exchange ideas. Connect with the real people behind every
        post — only within your circle.
      </p>
      <div class="flex justify-center mt-8 gap-4 cursor-pointer">
        <% if(!user){%>
        <a href="/auth/signup" class="bg-black text-white px-4 py-2 rounded-md"
          >Create Account</a
        >
        <a
          href="/auth/login"
          class="px-4 py-2 bg-gray-100 rounded-md hover:bg-gray-200"
          >Log in</a
        >
        <%} else { %>
           <a href="/posts"
            class="bg-black text-white px-4 py-2 rounded-md">
            Browse Posts
           </a>
           <a href="/circles"
              class="px-4 py-2 bg-gray-100 rounded-md hover:bg-gray-200">
              Explore Circles
           </a>
          <%}%>
      </div>
    </section>

    <section class="bg-gray-50 border-neutral-200 border-t border-b py-14 px-12">
         <div class="wrapper">

           <h2 class="text-2xl font-bold mb-6">Popular Circles</h2>

           <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
             <% circles.forEach(circle => { %>
                  <%- include('partials/circleCard', { circle: circle,hideOwner: true  }) %>
             <% }) %>
           </div>
         </div>
    </section>

    <!-- ================= PUBLIC POSTS FEED ================= -->
              <section class="py-14">
                  <div class="wrapper">
                    <h2 class="text-2xl font-bold mb-6">Latest Public Posts</h2>
                  
                    <div class="grid md:grid-cols-2 gap-6">
                      <% publicPosts.forEach(function(post) { %>
                        <%- include('partials/postCards', { post: post, hideVisibility: true,hideCircle:true }) %>
                      <% }) %>
                    </div>
                  </div>
              </section>
                           <!-- ================= WHY JOIN SECTION ================= -->
              <section class="py-16 bg-gray-50 border-neutral-200 border-t border-b">
                 <div class="wrapper">
                    <h2 class="text-2xl font-bold text-center mb-10">Why Join CirclesAccess?</h2>
                
                    <div class="grid md:grid-cols-3 gap-8">
                    
                       <div class="bg-white border border-neutral-200 hover:shadow-md  p-6 rounded-xl shadow-sm">
                          <h3 class="font-semibold text-xl">🔒 Controlled Privacy</h3>
                          <p class="text-gray-600 text-sm mt-2">
                             Your identity is only visible inside the circles you join.
                          </p>
                       </div>
                     
                       <div class="bg-white border border-neutral-200 hover:shadow-md  p-6 rounded-xl shadow-sm">
                          <h3 class="font-semibold text-xl">🏛 Create Your Own Circles</h3>
                          <p class="text-gray-600 text-sm mt-2">
                             Build communities instantly and manage members easily.
                          </p>
                       </div>
                     
                       <div class="bg-white border border-neutral-200 hover:shadow-md  p-6 rounded-xl shadow-sm">
                          <h3 class="font-semibold text-xl">📝 Real Conversations</h3>
                          <p class="text-gray-600 text-sm mt-2">
                             Post publicly or members-only. Your circles, your rules.
                          </p>
                       </div>
                     
                    </div>
                 </div>
              </section>
     <%- include('partials/footer') %>
  </body>
  <script src="/js/main.js"></script>
</html>
